<div class="login-container">
    <div class="login-form">
        <div class="logo-title-container">
            <div style="margin-bottom: 50px; display: flex; justify-content: center; align-items: center;" >
                <img src="../assets/HWRLogo.svg" alt="logo" width="170px" height="170px">
            </div>
            <!--check which page it is reset password or send email (different titles)-->
            <div *ngIf="!isCode">
                <h2 style="text-align: center;">Password per  E-mail zurücksetzen</h2>
                <h5 style="text-align: center;">Aus Sicherheitsgruden weird night angezeigt, on die angegebene E-mail korrekt ist. </h5>
            </div>
            <div *ngIf="isCode">
                <h2 style="text-align: center;">Definieren Sie hier Ihr neues Passwort</h2>
            </div>
        </div>
        <!--RESET PASSWORD START-->
        <div *ngIf="isCode">
            <div class="email-container" style="text-align: center; color: blue;">
                {{email}}
            </div>
            <form [formGroup]="form1" (ngSubmit)="onResetPassword()">
                <div class="input-container">
                    <input formControlName="password" type="password" name="password" id="password" placeholder="New Password"/>
                </div>
                <div class="input-container">
                    <input formControlName="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"/>
                </div>
                <div>
                    <button [disabled]="loading" class="btn">
                        Submit
                    </button>
                </div>
                <div *ngIf="errorMsg" style="margin-top: 10px; color: red; font-size: 12px; text-align: center; width: 300px;">
                    {{errorMsg}}!
                </div>
            </form>
        </div>
        <!--RESET PASSWORD END-->

        <!--SEND EMAIL START-->
        <div *ngIf="!isCode">
            <form [formGroup]="form2" (ngSubmit)="onSendEmail()">
                <div  class="input-container">
                    <input formControlName="email" type="email" name="email" id="email"  placeholder="E-mail"/>
                </div>
                <div>
                    <button [disabled]="loading" class="btn">
                        Send email
                    </button>
                </div>
            </form>
            <div *ngIf="emailMsg" style="margin-top: 10px; color: blue; font-size: 12px; text-align: center; width: 300px;">
                {{emailMsg}}!
            </div>
        </div>
        <!--SEND EMAIL END-->
    </div>
</div>