<app-header></app-header>
<div class="login-container">
 <!--login-imgSide-->
    <div  class="login-imgSide">
        <div style="display: flex;justify-content: center; align-items: center; ">
            <img src="../assets/car.svg" style="width: 450px; height:650px;" alt="Girl in a jacket">
        </div>
    </div>  
    <div class="login-form">
        <h2>Anmelden</h2>
        <form>
            <input type="email" placeholder="E-mail"/>
            <input type="password" placeholder="Password"/>
            <input type="button" class="dugme" value="Anmelden">
        </form>
    </div>
</div>