<!--<app-header></app-header> -->
<div class="login-container">
 <!--login-imgSide-->
    <div  class="login-imgSide">
        <div style="display: flex;justify-content: center; align-items: center; ">
            <img src="../assets/car.svg" style="width: 450px; height:650px;" alt="Girl in a jacket">
        </div>
    </div>  
    <div class="login-form">
        <div class="logo-title-container">
            <h2>Anmelden</h2>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-container">
                <input formControlName="email" type="email" name="email" id="email"  placeholder="E-mail"/>
            </div>
            <div class="input-container">
                <input formControlName="password" type="password" name="password" id="password" placeholder="Password"/>
            </div>
            <input *ngIf="loading" type="button" class="dugme" value="Loading">
            <div>
                <button [disabled]="loading" class="dugme">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Anmelden
                </button>
            </div>
        </form>
    </div>
</div>