
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-form input{
    display: block;
    padding: 8px;
    border-radius: 4px;
    width: 300px;  
    border: 1px solid #30475E !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 40px;
}

.login-imgSide{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #30475E;
}

input{
    border: 0px;
}

.dugme{
    border-radius: 4px;
    background-color: #30475E !important;
    color: white;
    height: 40px;
    width: 100%;
    border: 0px;
    cursor: pointer;
}

.logo-title-container {
    margin-bottom: 30px;
}

.input-container {
    margin-bottom: 15px;
    margin-top: 15px;
}