<div class="login-container">
    <div  class="login-imgSide">
        <div style="display: flex;justify-content: center; align-items: center; ">
            <img src="../assets/idea-img.svg" style="width: 400px; height:600px;" alt="Girl in a jacket">
        </div>
    </div>  
    <div class="reg-form">
        <div style="margin-bottom: 10px;">
            <img src="../assets/HWRLogo.svg" alt="logo" width="170px" height="170px">
        </div>
        <div class="title-container">
            <h2>
                Estelle jetzt ein kostenloses Konto bei HWR
            </h2>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" style=" margin-top:45px;">
            <div class="reg-mob" style= "display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
                <div class="reg-form-firstSection" style="width: 50%; margin-right: 20px;">
                    <div class="input-container">
                        <input formControlName="hello" type="text" name="hello" id="hello" placeholder="Anrede"/>
                    </div>
                    <div class="input-container">
                        <input formControlName="firstname" type="text" name="firstname" id="firstname" placeholder="Vorname"/>
                    </div>
                    <div class="input-container">
                        <input formControlName="lastname" type="text" name="lastname" id="lastname" placeholder="Nachname"/>
                    </div>
                    <div class="input-container">
                        <input formControlName="email" type="email" name="email" id="email" placeholder="E-mail"/>
                    </div>
                    <div class="input-container">
                        <input formControlName="password" type="password" name="password" id="password" placeholder="Password"/>
                    </div>
                </div>
                <div class="reg-form-secondSection" style="width: 50%;">
                    <div class="input-container">
                        <input formControlName="adress" type="text" name="adress" id="adress" placeholder="Adresse & Nr."/>
                    </div>
                    <div class="input-container">
                        <input formControlName="postal" type="text" name="postal" id="postal" placeholder="PLZ"/>
                    </div>
                    <div class="input-container">
                        <input formControlName="location" type="text" name="ort" id="ort"  placeholder="Ort"/>
                    </div>
                    <div class="input-container">
                        <input formControlName="phone" type="text" name="phone" id="phone"  placeholder="Telefonnummer"/>
                    </div>
                    <div class="input-container">
                        <input formControlName="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" placeholder="Password wiederholen"/>
                    </div>
                </div>
            </div>
            <div class="btn-container">
                <button [disabled]="loading" class="btn-submit">
                    Register
                </button>
            </div>
            <div *ngIf="errorMsg" style="margin-top: 10px; color: red; font-size: 12px; text-align: center; width: 100%">
                {{errorMsg}}
            </div>
        </form>   
    </div>
</div>